#header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100px;
    background-color: #000;
    color: white;
    background-image: url('../img/black-banner.jpg');
    background-size: cover;
    background-position: auto;
}

#header-title {
    display: flex;
    justify-content: center;
    min-width: 90vw;
    filter: drop-shadow(1px 1px 1px white);
    filter: drop-shadow(2px 2px 2px white);
    filter: drop-shadow(-3px -3px -3px white);
}

#logout-btn {
    font-weight: bold;
    text-decoration: none;
    color: rgb(255, 0, 0);
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(255, 0, 0, 0.4) 0 2px 4px,rgb(150, 0, 0) 0 7px 13px -3px,rgba(200, 0, 0, 0.5) 0 -3px 0 inset;
}

#posts {
    width: 60%;
    min-height: 100vh;

}

.menu {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.menu > ul > li {
    margin: 0 20px;
}

.menu > ul > li > a {
    text-decoration: none;
    color: black;
    position: relative;
    padding: 3px 15px;
}

.menu > ul > li > a::after {
    content: '';
    position: absolute;
    height: 3px;
    left: 0;
    bottom: 0;
    width: 0;
    background: rgb(188, 190, 190);
    box-shadow: rgb(0, 0, 0) 1px 2px 2px;
    transition: width .2s;
}

.menu > ul > li > a:hover:after {
    width: 100%;
}

#postTitle {
    text-align: center;
}

#postDiv {
    text-align: center;
    background-color: rgba(141, 140, 140, 0.1);
    padding: 10px 15px;
    margin: 8px 0;
    border-radius: 10px;
    max-height: 150px;
    overflow: hidden;
  }

#postDiv:hover {
    border: solid thin rgb(188, 190, 190);
}

#postDiv > :nth-child(1), #postDiv > :nth-child(2) {
    margin: 5px;
    font-weight: bold;
}

#postDiv > :nth-child(2) {
    margin-bottom: 15px;
}

#postLink {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}