* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

#background {
    background-color: rgb(35, 36, 34);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Login Form */
.container {
    display: flex;
    justify-content: center;
}

#formContainer {
    border: 1px solid white;
    border-radius: 10px;
    width: 300px;
    height: 500px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/black-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#registerFormContainer {
    border: 1px solid white;
    border-radius: 10px;
    width: 70vw;
    height: 500px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/black-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#loginTitle{
    width: 100%;
    display: flex;
    justify-content: center;
    
}

#loginText{
    color: white;
    font-size: 40px;
    filter: drop-shadow(1px 1px 1px white);
    filter: drop-shadow(2px 2px 2px white);
    filter: drop-shadow(-3px -3px -3px white);
}

/* Inputs */

.formFields {
    font-size: 15px;
    font-weight: bold;
    width: 220px;
    height: 30px;
    margin: 15px 5px;
    padding: 5px;
    border-radius: 20px;
    text-align: center;
}

#registerLink {
    display: flex;
    justify-content: center;
    margin: 80px auto auto auto;
}

#registerLink a {
    color: #fff;
}




/* 
 *
 *
 *
    Login Button CSS 
 *
 *
 *
 *
 */
#btnField {
    margin: 30px auto auto auto;
    display: flex;
    justify-content: center;
}

.loginBtn {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #707070 0, #000000 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(244, 241, 250, 0.4) 0 2px 4px,rgb(248, 245, 255) 0 7px 13px -3px,rgba(223, 227, 255, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.loginBtn:focus {
  box-shadow: #c6c6c7 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.loginBtn:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #d5d9fc 0 -3px 0 inset;
  transform: translateY(-2px);
}

.loginBtn:active {
  box-shadow: #eef0ff 0 3px 7px inset;
  transform: translateY(2px);
}